[2013-03-11 21:46] jacksonofalltrades opened #1 "Problem running test with Celery"
When I try this:
http://localhost:8000/hirefire/&lt;HIREFIRE_TOKEN&gt;/info

I get the following exception:
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/django/core/handlers/base.py", line 89, in get_response
    response = middleware_method(request)
  File "/Library/Python/2.7/site-packages/hirefire/contrib/django/middleware.py", line 64, in process_request
    ret

[2013-09-12 14:36] miken opened #2 "Issue setting up HireFire with Django"
Hi,

I followed your instructions to set up HireFire with my Django application: https://hirefire.readthedocs.org/en/latest/

Here's what my Procfile looks like:
web: newrelic-admin run-program gunicorn catacombs.wsgi
worker: newrelic-admin run-python manage.py rqworker high

I followed through steps 1-5 but when I started the server locally with "foreman start" and then browse to "http://localhos

[2014-04-20 11:08] #2 closed, assigned to nobody

[2014-05-23 20:22] jlantz opened #3 "Incorrect job count with django_rq causes poor scaling decisions"
I'm working on a Heroku app using django_rq to kick off long running background tasks which I need to scale on demand.  I have Hirefire setup with a 1:1 ratio of jobs to workers.  However, the implementation for django_rq reports to Hirefire the number of jobs WAITING in the queue but ignores the number of jobs currently being executed by a worker.  This seems to cause Hirefire to shut down worker

[2014-05-27 18:28] #3 closed, assigned to nobody

[2014-08-13 15:09] miken opened #5 "Missing parentheses for queue_names method in rq/procs.py"
Hi,

I'm using django-rq with hirefire and ran into a 500 server error after having my background tasks run. It's a TypeError saying "argument of type 'instancemethod' is not iterable." Upon investigating further, I think the issue is with procs/rq.py: there are missing parentheses for the method queue_names.

Currently it looks like this in rq.py:

[code]

After adding () to queue_names as follow

[2014-11-27 08:24] #5 closed, assigned to nobody

[2015-04-09 03:28] ryanhiebert opened #8 "Celery doesn't account for running and reserved tasks"
This is a similar problem to #3 .

I'm using the Redis backend for Celery. I tried my hand at a solution in https://github.com/aspiredu/hirefire/commit/3ae625cc527330357a66df8d8c5e2701213d5af7, but it only works for small numbers of dynos, workers, and tasks. Even when it does work, it's painfully slow.

The issue is that `active`, `reserved`, and `scheduled` tasks don't show up in the queue. Miss

[2015-04-21 12:54] mjtamlyn commented on #1
This would be fixed by #9

[2015-05-05 13:04] mjtamlyn commented on #1
Resolved by 9dc36d4b969adf92803729848f8118a1b4a6103a

[2015-05-05 13:04] #1 closed

[2015-05-06 04:26] ryanhiebert commented on #8
Unfortunately I can confirm that #9 has not solved this issue, even when I'm using `py-ampq`. I haven't tested with `librabbitmq` or `iron-mq`, but I find it likely that I'll get the same results.

[2015-05-06 18:57] ryanhiebert commented on #8
An IRC conversation with @ask gave me two ideas to try. Both are somewhat involved for something as light as HireFire, but we've gotta do what we've gotta do.

1. Use Flower to get data on the running worker queues.
2. Use heartbeats from worker to get up-to-date data.
3. (from me) use `inspect()` (that's how flower gets it's info) for all queues/procs/workers at once and somehow re-use that data

[2015-06-04 10:33] JannKleen opened #11 "RabbitMQ queues and scheduled tasks"
This might be more of an implementation question than a bug report.

We have lots of scheduled tasks (a few thousand) and wanted to scale our workers using HireFire.
The problem is that scheduled tasks using RabbitMQ and Celery are implemented by the worker fetching the tasks but not ACK'ing them. This removes them from the queue and saves them on the worker until it's time to execute them, or the

[2015-06-13 23:45] ryanisnan opened #12 "RQProc seems to make an excessive # of calls to redis in `quantity`"
I'm observing a large number of HGET redis calls (664 in 1 instance) during a call to `RQProc.quantity`.

Here's the exact method: https://github.com/jezdez/hirefire/blob/master/hirefire/procs/rq.py#L53

I'm guessing that it has something to do with nested iterators? I wonder if it's more sensible to just look at `queue.count` and ignore jobs in process?

[2015-06-23 21:37] touilleMan commented on #8
@ryanhiebert did you find any solution for this trouble ?

[2015-06-24 02:54] ryanhiebert commented on #8
No solution yet. It's been somewhat back-burnered in my current workload, but trying to use Flower to get a better picture of the running queues seems like the route I'm likely to try first. Any and all help would be welcome!

[2015-08-17 15:08] joshowen commented on #8
Any updates on this issue?

[2015-08-17 16:45] ryanhiebert commented on #8
No, sorry. Haven't been able to work on it any more yet.

[2015-09-15 01:18] adamlwgriffiths commented on #12
This code was added in 0.2.1.
https://github.com/jezdez/hirefire/commit/d8136b4557978d9a22874c1423524bb8b3b68c63
Quote from change log: "Fix the RQ Proc implementation to take the number of task into account that are currently being processed by the workers to prevent accidental shutdown mid-processing. Thanks to Jason Lantz for the report and initial patch."

Looks like calling `get_current_job_i

[2015-09-21 18:37] joshowen commented on #8
I wrote a basic implementation that seems to work.

    import itertools

    from celery import Celery
    from django.conf import settings
    from gevent.pool import Group

    from hirefire.procs.celery import CeleryProc

    def _inspect(method):
        app = Celery('app', broker=settings.BROKER_URL)
        inspect_result = getattr(app.control.inspect(), method)()
        app.close()

[2015-11-30 16:32] ryanhiebert commented on #8
@joshowen : That can work OK, for a small number of queues. Unfortunately, I have around 20 queues, and the combined time of running this made for timeouts in Heroku. I've got to find something faster.

----------

https://github.com/celery/celery/issues/2839

This issue with Celery also makes this issue worse. Tasks that are running are _immediately_ shut down, instead of being given the time tha

[2015-11-30 16:36] joshowen commented on #8
@ryanhiebert Even using gevent?

[2015-11-30 16:36] ryanhiebert commented on #8
@joshowen: Actually, that's not what I had done before. I'm going to have to dig more into it, and see if it works for me.

I'm not currently using gevent.

[2015-11-30 16:37] joshowen commented on #8
With gevent I was able to run the _inspect calls in parallel and got around the heroku timeouts

[2015-11-30 16:41] ryanhiebert commented on #8
Let me try it. I still do have quite a few queues (not just workers), with different procs, so even with gevent it means that I'll have to run ~20 of these to get all the stats for HireFire. Worth a try, though.

[2015-12-13 09:42] syphar commented on #8
@joshowen thanks for your example code, we just ran into the same issue.

I build a similar solution, still slow, but less calls:
the `app.control.inspect()` calls always return the data for every queue, not only one.
We have just extended `HireFireMiddleware` to do these calls once (not only for `active` and `reserved`, but also for `scheduled`) and then the subsequent `CeleryProc`s will get the

[2015-12-13 09:42] syphar commented on #8
will try to bake this into a PR, I think this is a common problem if you want to scale to 0 :)

[2015-12-13 12:36] ryanhiebert commented on #8
@syphar: that sounds awesome. I'm looking forward to it.

[2016-01-11 15:51] ryanhiebert commented on #8
@syphar: I'm working on this now for work, and if possible I'd like to see your approach. Any chance you could let me see your work (via very raw, perhaps broken PR, or perhaps a gist of the interesting code), so that I can take inspiration at least?

[2016-01-11 16:21] syphar commented on #8
@ryanhiebert yes, sure. Sorry for the delay many things happening :)

middleware:
[code]

procs.py
[code]

this code
- as expected: only works with celery
- not perfect: increases response time (it's around ~3s on our production system)
- good: the amount of procs/queues doesn't matter, since the `inspect` result contains everything.
- runs in production for 4 weeks here
- only tested on python 3.

[2016-01-11 16:24] ryanhiebert commented on #8
Awesome. I'll work on figuring out those when I'm implementing it for myself. This is very, very, helpful. Thank you.

[2016-01-11 16:32] syphar commented on #8
@ryanhiebert we can get this into a working PR together, if you have some nice ideas on the design :)

[2016-01-11 17:18] ryanhiebert commented on #8
Would you be up for a pairing session, perhaps? You can hit me up on irc.freenode.net, I'm ryanhiebert, or you can email me ryan@ryanhiebert.com

[2016-01-11 18:23] ryanhiebert commented on #8
If you're interested in pairing, I've set up a floobits workspace at https://floobits.com/ryanhiebert/hirefire.

[2016-01-11 19:31] ryanhiebert commented on #8
I do have a good idea, and that's to send a cache dictionary into the procs, so that they can share state between themselves. I'm working up an implementation.

[2016-01-12 06:12] ryanhiebert commented on #8
Here's my work-in-progress branch on the approach I came up with. Feel free to give me feedback. I'll open up a PR after I've done some more testing in my environment.

[2016-01-12 06:12] ryanhiebert commented on #8
https://github.com/aspiredu/hirefire/tree/global-cache

[2016-01-12 16:36] ryanhiebert commented on #11
You might look at #13, which I think could help with this. In particular, I'd like some feedback on what statuses (of `active`, `scheduled`, and `reserved`) should be default, and what should be allowed as far as configuration.

[2016-01-13 09:15] JannKleen commented on #11
@ryanhiebert Our current approach is to split our queue into two ("celery" and "scheduled") and only consider the "celery" queue for scaling

[2016-01-13 13:41] ryanhiebert commented on #11
@JannKleen: Yes, that's a pretty good approach if it's a reasonable for you. The work in #13 may allow you to use HireFire on those `scheduled `dynos too.

[2016-01-13 14:02] JannKleen commented on #11
@ryanhiebert sounds great! One small correction, our dynos scale on ```celery``` queue length but work on both queues

[2016-04-12 12:57] ryanhiebert opened #14 "Django Channels"
Django Channels introduce a `django-admin runworker` command, which will actually run the normal Django code, but in a worker process. HireFire should support auto-scaling those procs.

[2016-05-13 05:50] #8 closed

[2016-05-13 05:50] jezdez commented on #14
That's a great idea!

[2016-05-13 05:51] jezdez commented on #14
@ryanhiebert Would you be interested in being added to the hirefire project?

[2016-05-13 13:14] ryanhiebert commented on #14
Yes, absolutely!

[2016-05-13 13:16] ryanhiebert commented on #14
I'm still learning about channels, and I haven't figured out yet quite how this work should happen. In particular, I haven't figured out how to even specify what workers do what, much less how to inspect what they are doing. So this is on hold, at least until I figure that out.

[2016-05-29 05:23] ryanhiebert commented on #11
@JannKleen: Should this issue be closed now?

[2016-05-30 14:18] JannKleen commented on #11
Yes, thanks!

[2016-05-30 14:18] #11 closed

[2016-07-11 13:27] ihucos opened #16 "load_procs being called two times."
In our setup that class attribute definition gets execute two times: https://github.com/jezdez/hirefire/blob/e29ef21ffdece81967117b12a73692b37887e28f/hirefire/contrib/django/middleware.py#L33

I can reproduce our exception using `reload` on the middleware module and don't know any other way how that line can get evaluated multiple times. So the question is maybe if Django middlewares are supposed

[2016-07-11 13:32] ryanhiebert commented on #16
I know that I personally haven't had any use-case where reloading the module would make sense, and it would be unsurprising to me that Django would have problems with it in general. Would you be willing to expand your use-case for reloading the modules?

[2016-07-11 15:23] ihucos commented on #16
Unfortunately I could not find what does the reload, the exception could also be caused by something completely else. My guess is, that it is gunicorn trying to respawn when the celery server could no be reached, and that possibly related to the use of "--preload". But I could not reproduce that. So really no idea.

[2016-07-26 15:52] mpetyx commented on #16
i think i have the exact same issue, causing responses on production to take more than 4 seconds and i had to migrate back on version 0.3...

[2016-07-26 16:49] ryanhiebert commented on #16
@mpetyx : If moving back to 0.3 fixed your issue, than that's more likely because of the default for Celery Procs to inspect all the types of tasks on the workers. For me, and what seemed like the typical use-case, _not_ inspecting those caused innaccurate data, which was a bigger problem than the additional response time.

If the trade-off is right for you, then you can add `inspect_statuses = []

[2016-07-26 19:47] mpetyx commented on #16
i would have to check this on production level, so it may take some time. thank you very much for your quick reply!

[2016-09-08 23:25] nutsci opened #18 "Flask & RQ"
Hi all,

I am using flask with rq. I put the WorkerProc(RQProc) class in my flask file (server.py) and the build_hirefire_blueprint module statement there as well. However I'm not sure where the dotted path is supposed to go to- the app crashes with just 'WorkerProc' or 'server.WorkerProc'.

Could you steer me in the right direction here?

Cheers

[2016-09-10 02:24] nutsci commented on #18
Figured out the problem there, but now I'm getting a "NoRedisConnectionException: Could not resolve a Redis connection"

2016-09-10T02:21:57.655427+00:00 app[web.1]:   File "/app/.heroku/python/lib/python2.7/site-packages/hirefire/procs/__init__.py", line 175, in __init__
2016-09-10T02:21:57.655428+00:00 app[web.1]:   File "/app/.heroku/python/lib/python2.7/site-packages/hirefire/procs/rq.py", lin

[2016-09-10 20:05] #18 closed

[2016-09-13 18:06] dtran320 commented on #14
Sounds like a good idea, esp. with Channels being officially adopted as part of the Django project: https://www.djangoproject.com/weblog/2016/sep/09/channels-adopted-official-django-project/

Will try to find time to pitch in as we look into Channels ourselves!

[2016-10-07 12:02] deppy opened #19 "Routing keys with wildcards are not matched"
While using version 0.4 we are seeing a bunch of key errors when the routing key has a wildcard.

We have an exchange + routing key ['internal', 'users.user.*'] which works just fine, but the hirefire package throws a KeyError  because it's not an exact match.

[2016-10-07 14:08] ryanhiebert commented on #19
It sounds like you're using Celery. Is that correct?

[2016-10-07 14:13] ryanhiebert commented on #16
I'm closing this, as it appears that it's likely invalid. If you disagree, feel free to make a case to re-open it. For now, I don't know that it's reasonable to assume that Django Middleware (or other things, like models) can reasonably be reloaded.

[2016-10-07 14:13] #16 closed

[2016-10-10 09:30] deppy commented on #19
Yes.  Django + Celery

[2016-10-10 09:39] deppy commented on #19
Can also provide a bit more of the errors we were seeing:

get_status_task_counts() missing 1 required positional argument: 'status
KeyError: ('internal', 'users.user.created')
hirefire/utils.py in __missing__ at line 114

[2016-10-18 10:06] deppy commented on #19
Had a bit more time to actually debug this.  It looks like it was the [changes introduced in hirefire 0.4 ](https://github.com/jezdez/hirefire/commit/70de84b25185bb973ec50157d2efba5fa5821922).  I went back to version 0.3 for now and everything is working fine.  Indeed the status isn't always sent 100% of the time.  If I get more of a chance, I'll look into fixing it and submitting a PR (unless som

[2016-12-30 00:35] ryanhiebert commented on #19
Interestingly, while attempting to upgrade to Celery 4, I had this same error happen to me. For whatever reason (I don't understand yet), the queue is registered as having `(exchange, routing_key)` of `('queuename', 'queuename')`, but the tasks themselves are identified with `('queuename', '')`. I don't understand why the routing_key is empty.

@deppy : If you've got any insight on my issue, that

[2017-01-17 12:58] t-io opened #24 "install hirefire raises syntax error"
hirefire can be installed successfully but raises a syntax error
When installing 0.0.4 with pip I get:
`File "/tmp/pip_build_root/HireFire/hirefire/procs/hotqueue.py", line 59`
__SyntaxError: invalid syntax__ -> `def quantity(self. **kwargs):`
This typo is also in the latest master

[2017-01-17 14:21] ryanhiebert commented on #24
Indeed. I guess that means nobody (except you now) is using hotqueue. Thanks for the bug report!

You can either 1) wait for someone to fix this bug (perhaps me later this evening), or 2) create a pull request with the fix. Once that's done, I can't give you a timeframe on when a release would be cut (it's not up to me), but you can install the updated branch directly from git with pip.

[2017-01-17 19:13] t-io commented on #24
It's not critical for me, I don't use hotqueue in my project. I just stumble across this ugly syntax error installing hirefire via pip.  👉 PR#25

[2017-01-17 20:03] #24 closed

[2017-01-19 10:08] t-io opened #32 "hirefire dosen't scale down"
Hi,
I'm using celery 4 with the latest hirefire.
Scaling the worker up works fine but after this the communication with hirefire seems broken.
I get the same results with the latest master and release.

`["KeyError: (\'\', \'parser\')", \'  File "django/core/handlers/base.py", line 123, in get_response\', \'  File "newrelic/hooks/framework_django.py", line 232, in wrapper\', \'  File "hirefire/con

[2017-01-19 11:13] t-io commented on #32
After setting `'exchange': 'parser', 'routing_key': 'parser'` in `CELERY_TASK_ROUTES` settings and adding my celery app to the proc everything runs fine

[2017-01-19 11:13] #32 closed

[2017-01-19 13:00] ryanhiebert commented on #32
It's very interesting that you seem to have found a workaround for this issue. AFAICT, this is a bug in Celery. celery/celery#3767. The workaround isn't a general solution, but it may work for some people that need to have a workaround, thank you.

Since it's a bug in Celery, it's not something that I can reasonably fix. However, The latest master includes a new feature, called `simple_queues`, th

[2017-02-06 15:43] mjtamlyn opened #34 "Celery proc times out using celery 4"
`CeleryProc.quantity(cache={})` is causing a timeout (30s+, causes a run process to hang indefinitely) when I've upgraded to celery 4. I don't understand enough about how it's accessing the queue to know why. I can provide more details about my setup if necessary.

[2017-02-06 16:00] ryanhiebert commented on #34
That'd be helpful. In particular, are you using the `simple_queues` property on your procs? And approximately how many celery workers are you running? Each one does add some overhead, and I've not yet been able to get my production environment upgraded to Celery 4, for reasons no longer related to HireFire.

I'd also recommend turning on logging for the `hirefire` logger, at at least the warning l

[2017-02-06 16:46] mjtamlyn commented on #34
I'm not using `simple_queues`, but it didn't make any difference when I set it true.

I have two queues declared on the Proc. The exact number of workers varies (obvs), but at present I have 3 dynos.

I'm using RabbitMQ as the message layer, with CloudAMQP.

The call to `quantity()` works just fine, it's only the cache code in `inspect_count` that fails.

[code]

Maybe I should try digging down a

[2017-02-06 16:50] ryanhiebert commented on #34
That would also be helpful. There are 4 inspect calls that are made by default (the way you've got it set up). One to each of `active_queues` (to figure out which queues are running), `active`, `reserved`, and `scheduled`. These take a while, but in my experiment with Celery 4 weren't causing timeouts. I expect that the amount of time it takes to make those calls increases as the number of dynos i

[2017-02-06 16:52] ryanhiebert commented on #34
All of those calls happen here: https://github.com/ryanhiebert/hirefire/blob/master/hirefire/procs/celery.py#L49-L64

That might help you set breakpoints.

[2017-02-07 12:41] mjtamlyn commented on #34
Ok, I'm making some progress. All of those possible inspect calls are failing, and failing in the same way. A more minimal case to get the failure is:

[code]

Using python's trace module, I've discovered that it's hanging in the threading module, at line 340, `waiter.acquire()`. Googling around the problem, it appears that this can occasionally happen in various ways when using the threading modu

[2017-02-07 14:45] ryanhiebert commented on #34
Thank you for looking into it. I'm following that issue, but it's definitely out of my wheelhouse to understand. If it turns out that it needs to come back here for further followup, feel free to re-open this issue.

[2017-02-07 14:45] #34 closed

[2017-03-08 17:27] deppy opened #35 "Single queue being unavailable raises exception"
We had an issue the last 2 days where we made 1 of our RabbitMQ servers go down and as soon as it came back, the primary was sync'ing data to the other node.  Unfortunately during that time period, nothing can consume from that queue and because of that all of our autoscaling is put on hold until the queue is fully sync'ed.  I'll take a look but it seems like a simple case of catching the exceptio

[2017-03-08 18:55] ryanhiebert commented on #35
Would you mind giving me a bit more information about your environment? Since you're using RabbitMQ, does that mean that you're using Celery?

Here's what I'm guessing the situation is from your above comment. Please correct any error. You have a replicated RabbitMQ cluster. During reconstruction, the queues become unavailable one at a time, and HireFire just can't deal with any queue being unavai

[2017-03-21 12:07] deppy commented on #35
Yes, we're using Celery workers and have a mix of Redis+RabbitMQ.   Your guess on the situation seems correct.  It's only during replication when the queue is unavailable that the entire info request results in a 5xx.

I'll look into getting a fix added.  Just wanted to at least document that this was happening.  Luckily the replication events happen so few and far between that there isn't any imm

[2017-08-01 17:25] t-io opened #36 "manually trigger scaling"
Is there a way to manually trigger a scaling on hirefire?
I have a service which needs an immediate upscale after pressing a button.
I checked the code for the django middleware but I'am not sure where exactly the request happens.

[2017-08-02 15:47] ryanhiebert commented on #36
As far as I know, there's not. HireFire checks once per minute. For my own use-cases, task queues that require immediate processing are ones that I ensure that there is always at least 1 running.

You could scale up the heroku dyno manually (or via the Heroku platform API), and then it should stick when HireFire attempts to scale it up to the same during its minutely check. Does that sound workabl

[2017-08-02 21:31] ryanhiebert commented on #36
As far as I can tell, I don't think there'll be anything to do for this in this package, so I'm going to close this issue. Feel free to continue the conversation here if you disagree, or if have any follow-up questions.

[2017-08-02 21:31] #36 closed

[2017-08-04 14:14] t-io commented on #36
Thanks for the response. Unfortunately 1 dyno will not save me from drowning. I think I have to build a custom solution for this case and use the heroku api.

[2018-01-16 14:52] berinhard commented on #2
I ran into the same issue when trying to configure HireFire but using a other hostname and port for Redis. It would be nice if we can have a more complete example in the README or, at least, a link to this issue.

[2018-03-15 14:33] rahul6612 opened #38 "private message's user A to user B only"
hii i want to create a app using django channels to send message from user A to user B so that only B will get the message (and B can reply my message). means to whom i want to send message only that person got my message not group of peoples (like facebook does) for this what i have to do please tell me in simple language bcoz i am not too expert in django. is django channel is good choice for th

[2018-03-15 15:28] ryanhiebert commented on #38
Django Channels seems like a pretty good choice for that work. You'll need to find a way to namespace private message channels. I don't have any particular suggestions on that, but it's actually similar to a personal project that I'll be working on pretty soon. I'd be interested to see what you come up with, if you're able to show me.

Also, this is the issue tracker for HireFire python tracking.

[2018-03-15 16:04] rahul6612 commented on #38
i already created an app where peoples can post their messages(text/audio/videos)they can follow/unfollow like/unlike posts etc. and a e-commerce website Now i want to add messaging feature on my project but no idea about it.

[2018-03-19 02:16] ryanhiebert commented on #38
I'm afraid I'm really not in a position to help out with learning Django Channels, and this isn't the right issue tracker to get help. I'm not entirely sure which one to point you to, but you might ask over at `#django` on Freenode, that seems like a relatively good starting place to potentially find someone that would be able to assist you.

[2018-03-19 02:16] #38 closed

[2018-03-19 15:23] rahul6612 commented on #38
ok thanks for your precious time.

[2018-03-26 21:21] mobpakrd opened #39 "CI tests are not running because we don't have a broker"
We’re setting up a django/celery integration based on the documentation here.

We’re having trouble running tests in CI, where we don’t have redis setup, as we have celery running in always_eager mode for testing purposes, so all tasks happen synchronously. This is causing the following error for all of our tests. Is there a recommended strategy for HireFire in tests? I'm not sure what, if any, co

[2018-03-26 23:31] ryanhiebert commented on #39
I use Travis, and I make sure to have Redis and AMQP (my results backend and broker) set up in the test environment. That'd be my first recommendation to you: test with the same tools as production.

[2018-04-02 21:17] keturn commented on #39
Unit tests need to have the same initial conditions in every test.  For PostgreSQL, [django manages the test database](https://docs.djangoproject.com/en/1.11/topics/testing/overview/#the-test-database) with [django.test.TestCase](https://docs.djangoproject.com/en/1.11/topics/testing/tools/#testcase).

If we were to incorporate redis and RabbitMQ into our test environment, the test setup would need

[2018-04-03 00:22] ryanhiebert commented on #39
I'm not opposed to trying to get some better characteristics as far as this goes. The procs are created at load time, but I'm not opposed to having them load up the channel lazily, instead of on initialization.

[2018-10-10 09:55] codingjoe opened #42 "TimeoutError: [Errno 110] Connection timed out"
[code]

The problem is that connection is only been fetched from the pool once the when the middlware and the Procs are loaded. The connection should be fetch on request and properly disposed of after each request.

I am working on a solution.

[2018-10-10 14:45] #42 closed

[2018-10-10 19:50] ryanhiebert commented on #39
Is this addressed by #43? At least for Celery?

[2018-10-10 19:51] ryanhiebert opened #44 "Fix Travis deployment"
Deployment is currently running on both of the jobs, causing one of the jobs, whichever deploys later, to fail the deployment because PyPI rejects the file upload. We should make it so that it only uploads once, probably using Travis' build stages.

[2018-10-10 20:33] ryanhiebert commented on #39
Cool. Closing this one then. @mobpakrd : care to test out the latest version, and see if it fixes your issue?

[2018-10-10 20:33] #39 closed

[2018-10-19 16:02] tspecht opened #45 "Middleware hanging for Django 2"
Hey!

I have been using the plugin for a long time, since I upgraded to 0.6 and Django 2 the middleware returns timeouts unfortunately and isn't usable anymore. I have tried to debug this on my own, but for some reason it doesn't seem to like celery and kombu well. I have other apps running the same version of celery and kombu but Django 1.9 + Hirefire 0.3 and it works well there. Any idea?

Outpu

[2018-10-19 18:59] ryanhiebert commented on #45
Are you able to determine which version of this package broke it for you?

[2018-10-19 20:47] tspecht commented on #45
@ryanhiebert that should be 0.5, I can't test below because Django 2 doesn't work with it unfortunately. Any idea where I could start digging into this? I suspect AMQP being the issue but that's just a very rough guess

[2018-10-21 02:57] ryanhiebert commented on #45
Well, in 0.4 I introduced a new feature that can severely slow down the check when there are large numbers of workers running. It's been workable for me, though not quick, with upwards of 50 workers. How many workers are you running? Could that be your issue? If so, you can change it back from the new default to what was the default previously, as noted here for `inspect_statuses`: https://hirefir

[2018-10-23 08:34] codingjoe commented on #45
@ryanhiebert that begs the questions of this feature really should be enabled by default. I do see the use case for it – we are using it for an on/off queue ourselves but I disabled it for anything else.
I would recommend to disable it by default and add a big chunk of documentation for it.

[2018-10-23 13:47] ryanhiebert commented on #45
That's a fair question, which I gave thought to before making it the default, especially given that it wasn't the default before. The flip side is whether it's really OK to have the wrong answer by default. We're choosing between two bad options: wrong and slow. I prefer to default to correct than fast. And I'd prefer it be fast, if we can make it so, but I haven't found a way to do that yet.

@ts

[2018-10-23 14:35] codingjoe commented on #45
@ryanhiebert I agree with your point. I believe it boils down to documentation then. I also don't see a reason the change the default now.

[2018-10-23 18:32] ryanhiebert commented on #45
The bad behavior is scaling down before the tasks are done. Which, without the new inspect statuses, happened to me _all the time_. It consistently did the wrong thing. I'd definitely love some better documentation. Perhaps a note in the readme about this potential gotcha at scale.

BTW, are you using this on Heroku? I've run with >40 dynos, and while quite slow, it does return before Heroku's tim

[2018-10-23 18:37] tspecht commented on #45
Yeah, we are running on Heroku and disabled ACKS_LATE for celery to work around these kind of issues. Out of interest, if you are not using Hirefire anymore, what are you using then to scale now?

[2018-10-23 19:19] ryanhiebert commented on #45
How does disabling `acks_late` make things better? It would make it so that as soon as it's out of the queue, rabbitmq sees it as complete.

We are now having our app scale itself based on the metrics created in this HireFire package. We needed to do similar scaling for a non-Heroku platform, so HireFire itself wouldn't work for it, and it was easier to write to Heroku's API and the other API than

[2018-11-14 21:04] kanli1984 opened #46 "DjangoProcSerializer failing to call super __call__"
I'm having issue with release 0.6. It's failing on line `return super(DjangoProcSerializer, self).__call__(args) `. Based on quick research online it looks like base class `ProcSerializer` is old style python class and you can't call super from inherited class. The exception I'm getting is `super() argument 1 must be type, not classobj`. Is there way to work around this?

[2018-11-14 21:17] ryanhiebert commented on #46
Thanks for the report. I think the right way to fix that is to make the `ProcSerializer` base class inherit from object. Would you like to make a pull request to do that?

[2018-11-15 21:15] kanli1984 commented on #46
Created pull request to make ProcSerializer inherit from object. Tested locally and seem to work fine.

[2018-11-15 22:15] ryanhiebert commented on #46
Merged.

[2018-11-15 22:15] #46 closed

[2019-03-09 02:17] ryanhiebert commented on #14
I'm open to adding Channels support to this package, but I don't have any plans to get around to it any time soon. If someone comes along that would like to implement it, you've got my support!

[2019-03-09 02:17] #14 closed

[2019-03-09 02:23] ryanhiebert commented on #35
I'm still on board with designing a solution to this issue, but I don't anticipate having impetus to drive it forward myself. If somebody comes along that would like to implement it, the idea has my blessing! This issue is now quite stale, so I'm going to close it until somebody cares about it enough to do some work on it.

[2019-03-09 02:23] #35 closed

[2019-03-09 02:26] ryanhiebert commented on #19
I'm still happy for this to be implemented if somebody ever cares about it enough to write it. It's not something that's important to my uses, though, so I'm going to close it until there's somebody that would like to take it on.

[2019-03-09 02:26] #19 closed

[2019-03-10 21:24] ryanhiebert commented on #44
OK, things are looking better now. With a little more work the deploys could be faster, but I'm good with where it is now.

[2019-03-10 21:24] #44 closed

[2019-03-10 21:26] ryanhiebert commented on #45
I think that the correctness issue means that the default needs to stay as is. Docs improvements are welcome.

[2019-03-10 21:26] #45 closed

[2019-03-10 21:35] ryanhiebert commented on #12
I had a similar issue with Celery as prompted the issue mentioned in 0.2.1. I think that correctness needs to be first, and that any compromise for speed must be optional and non-default. I would be happy to see such a patch for RQ. Take a look at the proc settings I added for #13 for inspiration. I don't have any current plans to work on it myself.

[2019-03-10 21:35] #12 closed

[2019-03-15 05:37] priyam-maheshwari opened #54 "HireFire endpoint intermittently gives 500"
Celery WorkerProc config is as follows:
[code]

HireFire API using Flask is setup like this:
[code]
An this endpoint intermittently gives :
"Couldn't fetch job queues. An unknown error occurred. Contact support if this issue persists."

I am using python version 3.6.8
HireFire==0.8
gunicorn==19.9.0
Flask==1.0.2
Flask-RESTful==0.3.7
celery==4.3.0rc1

[2019-03-15 09:29] priyam-maheshwari commented on #54
In logs I can see couple of errors like these:
`TypeError: get_inspect_value() missing 1 required positional argument: 'method'`
`TypeError: get_status_task_counts() missing 1 required positional argument: 'status'`

[2019-03-15 10:06] amureki commented on #54
Hello!
We started seeing this as well after updating to `HireFire==0.8`.

[code]

HireFire setup did not change since 0.7 and is more or less following setup guide from docs.

Our configuration:
Python 3.6.7
Django 2.1.7
HireFire 0.8

[2019-03-15 12:04] ryanhiebert commented on #54
Can you confirm that you were previously on 0.7? It surprises me that the changes in 0.8 could have that effect. Did celery get updated as well?

[2019-03-15 13:11] amureki commented on #54
Hey @ryanhiebert

we did update hirefire on March 11, then the next day we got this issue.
Last time we updated something celery-related was around a week ago - kombu 4.3.0->4.4.0:
https://github.com/celery/kombu/blob/master/Changelog, but I also do not see anything related there.

But actually, I can see that it appeared only once and not more, so it is not critical for our case.

[2019-03-15 13:32] ryanhiebert commented on #54
Interesting. I'm using this library in production, but I'm stuck on Celery 3.1 for terrible reasons. I'm not seeing this issue currently, and I'm not sure how to reproduce it. I'd definitely appreciate any further help anyone can give to help solve this issue.

[2019-03-15 14:00] ryanhiebert commented on #54
So it didn't eliminate it? That's interesting. Perhaps its not a new issue, and its being exacerbated by the channel that is being opened and closed every time the request is made somehow. Before this version the channels were opened every time, but not closed, causing channels to be left open and be abandoned. I'm still not quite seeing the connection, though.

[2019-09-13 15:35] Rawgeek commented on #34
In Django setting `BROKER_POOL_LIMIT = 1` hangs `app.control.inspect().active()` when using with AMQP

[2019-09-13 15:35] Rawgeek commented on #45
In Django setting `BROKER_POOL_LIMIT = 1` hangs `app.control.inspect().active()` when using with AMQP

[2019-09-13 15:44] ryanhiebert commented on #34
Would you like to open a new issue, perhaps with a bit more of a test case to reproduce? I'm not immediately sure what the right approach to fixing that will be, since I don't immediately see the cause. Its a bit beyond what I currently recall of Celery's implementation.

[2019-09-13 16:28] codingjoe commented on #45
Hi @Rawgeek, I am not entirely sure this is a hirefire issue. You changed a Celery package, and now Celery inspect hangs... that does sound like a Celery issue 🤔
Also remind me, why would you set the [broker_pool_limit](https://docs.celeryproject.org/en/latest/userguide/configuration.html#std:setting-broker_pool_limit) to `1`? That would indeed allow a pool to only open a single connection. This m

[2019-09-13 16:58] Rawgeek commented on #45
Thanks for quick response. I've posted to celery issue here:
https://github.com/celery/celery/issues/5139

I just thought this could be useful to someone having similar issue.

The reason to set it to 1 is to reduce the number of connections recommended by CloudAMQP here: https://www.cloudamqp.com/docs/celery.html

Although it makes sense on their cheaper plans as they limit how many concurrent co

[2019-09-13 17:00] Rawgeek commented on #34
I just thought this could be useful to someone having similar issue.
As removing `BROKER_POOL_LIMIT = 1` fixed the issue mentioned here

[2019-09-14 07:00] codingjoe commented on #45
@Rawgeek as you correctly stated, this is just an example setting. I would advise to go with one of their dedicated instances. It will provide you with plenty connections.
The connection pool is an important feature to reduce IO and latency, since TCP transports are being reused. Please don't use the formula on CloudAMQPs website to determine the correct number of connection. It is not correct. Ko

[2019-10-07 11:54] ryanhiebert commented on #54
I'm on Celery 4 now finally, and the latest version of this package as well. Are you still having this issue, @priyam-maheshwari or @amureki?

[2019-10-09 10:34] priyam-maheshwari commented on #54
Yes still getting intermittent errors ```
TypeError: get_inspect_value() missing 1 required positional argument: 'method'
TypeError: get_status_task_counts() missing 1 required positional argument: 'status'
[code]

[2020-05-27 10:30] chickahoona commented on #54
We had similar problems. If you are using redis too as result backend, then there is a new celery version 4.4.X that fixes the underlying problem (or greatly reduces the problem).

[2020-05-27 10:34] chickahoona opened #56 "Warning: exchange, routing_key pair not found: ('', 'QUEUE_NAME')"
We are using hirefire to automatically scale celery workers on heroku. Everything works fine, yet we see massive amount of events like: "exchange, routing_key pair not found: ('', 'QUEUE_NAME')"

We have in total three queues (scheduled,celery,priority) and we see events for all three of them.

We tried to find the source of this message and found this: https://hirefire.readthedocs.io/en/stable/_m

[2020-07-10 20:22] tspecht commented on #56
Also seeing this, seems like due to this some tasks that are currently in-progress on a worker are not being counted because of this.

[2020-07-10 21:49] chickahoona commented on #56
We were able to solve our issue. A simple `simple_queues = True` and the error disappeared.

[2020-07-10 21:49] #56 closed

[2020-08-01 23:30] azreda commented on #2
If you are using [django_redis](https://github.com/jazzband/django-redis) as a Redis cache backend, you can simplify to:

[code]

[2020-08-14 15:11] ryanhiebert commented on #54
Given the update above, and that there hasn't been further discussion, I'm closing this issue. Feel free to comment if you're still seeing more issues or have more data to bring to solving the problem.

[2020-08-14 15:11] #54 closed

[2021-02-01 17:59] FishmanL opened #58 "Does it matter where the WorkerProc is declared?"
i.e. does it need to be declared in the same file as the celery/task broker instance, etc?

[2021-02-01 18:01] ryanhiebert commented on #58
No. I have all my procs defined in a separate file, but I imagine you can put it wherever you like.

[2021-02-01 18:02] FishmanL commented on #58
Excellent, sounds good.

[2021-02-01 18:02] #58 closed

[2021-02-02 19:35] FishmanL opened #59 "load_procs should warn rather than erroring if a proc with a duplicate name is loaded"
in particular my blueprint registration is idempotent in other ways, so it might be getting run twice -- any chance of a silent failure on load_procs?

[2021-02-02 19:38] ryanhiebert commented on #59
I guess I'd probably be fine with a warning instead of an error. If I were looking at your code, I'd probably want to figure out why I need to register the procs multiple times, though. That seems less than ideal.

[2021-02-02 19:39] ryanhiebert commented on #59
A pull request would be welcome. I'm unlikely to write this up myself.

[2021-02-02 19:51] FishmanL commented on #59
Done!  (The short answer for idempotency is 'our blueprint registration is complicated and multipathed, and somewhere in there is a small bug that I do want to fix eventually')

[2021-06-03 12:36] #59 closed

[2022-07-08 15:11] rexmadden opened #63 "Flask 2 blueprint names cannot contain dot "." character"
https://github.com/pallets/flask/issues/4041

build_hirefire_blueprint no longer works in Flask 2.1

[2022-07-08 16:21] ryanhiebert commented on #63
Thank you for the report. I'd be happy for a pull request, I'm unlikely to do more than review and merge one in the near future.